
#correct-price-container {
    margin: 10px;
    font-size: 20px;
}

#price-container {
    margin: 20px;
    font-size: 20px;
}

#error {
    font-size: 20px;
    margin-left: 20px;
    margin-top: 0;
}